In [1]:
import pandas as pd

df= pd.read_csv("D:/HAFSA Workspace/MACHINE_LEARNING/plant_growth_data.csv")
df

,Soil_Type,Sunlight_Hours,Water_Frequency,Fertilizer_Type,Temperature,Humidity,Growth_Milestone
0,loam,5.192294,bi-weekly,chemical,31.719602,61.591861,0
1,sandy,4.033133,weekly,organic,28.919484,52.422276,1
2,loam,8.892769,bi-weekly,none,23.179059,44.660539,0
3,loam,8.241144,bi-weekly,none,18.465886,46.433227,0
4,sandy,8.374043,bi-weekly,organic,18.128741,63.625923,0
...,...,...,...,...,...,...,...
188,sandy,5.652000,daily,none,28.000000,70.200000,0
189,clay,7.528000,weekly,chemical,30.500000,60.100000,1
190,loam,4.934000,bi-weekly,none,24.500000,61.700000,0
191,sandy,8.273000,daily,organic,27.900000,69.500000,1
192,clay,6.732000,weekly,none,21.700000,56.900000,0

#Data Preprocessing

In [2]:
print(df.isnull().sum())

Soil_Type           0
Sunlight_Hours      0
Water_Frequency     0
Fertilizer_Type     0
Temperature         0
Humidity            0
Growth_Milestone    0
dtype: int64

In [3]:
cat_cols= df.select_dtypes(include=['object', 'category']).columns

#Feature Engineering

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoders= {}

for col in cat_cols:
    label_encoders[col]= LabelEncoder()
    df[col]= label_encoders[col].fit_transform(df[col])

df

,Soil_Type,Sunlight_Hours,Water_Frequency,Fertilizer_Type,Temperature,Humidity,Growth_Milestone
0,1,5.192294,0,0,31.719602,61.591861,0
1,2,4.033133,2,2,28.919484,52.422276,1
2,1,8.892769,0,1,23.179059,44.660539,0
3,1,8.241144,0,1,18.465886,46.433227,0
4,2,8.374043,0,2,18.128741,63.625923,0
...,...,...,...,...,...,...,...
188,2,5.652000,1,1,28.000000,70.200000,0
189,0,7.528000,2,0,30.500000,60.100000,1
190,1,4.934000,0,1,24.500000,61.700000,0
191,2,8.273000,1,2,27.900000,69.500000,1
192,0,6.732000,2,1,21.700000,56.900000,0

#Model Selection

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

x= df.drop('Growth_Milestone', axis=1)
y= df['Growth_Milestone']

In [6]:
X_train, xtest, Y_train, ytest= train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
y_pred= model.predict(xtest)

In [9]:
accuracy= accuracy_score(ytest, y_pred)
print("Accuracy is: ", accuracy)

precision= precision_score(ytest, y_pred)
print("Precision score is: ", precision)

recall= recall_score(ytest, y_pred)
print("Recall score is: ", recall)

print("Confusion Matrix is: ", confusion_matrix(ytest,y_pred))

Accuracy is:  0.6410256410256411
Precision score is:  0.6818181818181818
Recall score is:  0.6818181818181818
Confusion Matrix is:  [[10  7]
 [ 7 15]]